<div class="wrapper">
<div class="forgot-password">
    <ng-container *ngIf="!isShowChangePassword; else changePassword">
        <h3>Forgot Password</h3>
        <div class="form-group">
            <label for="email">Enter Email:</label>
            <input type="text" id="email" [(ngModel)]="email" />
        </div>
        <button class="submit-button" (click)="onSubmit()">Submit</button>
    </ng-container>
    <ng-template #changePassword>
        <h3>Change Password</h3>
        <div class="form-group">
            <label for="newPassword">Enter New Password:</label>
            <input type="password" id="newPassword" [(ngModel)]="newPassword" />
        </div>
        <button class="submit-button" (click)="onChangePassword()">Submit</button>
    </ng-template>
</div>
</div>