<div class="wrapper">
<div class="body">
    <div class="about-page">
        <div class="about-section">
            <h1>About Us</h1>
        </div>
        <div class="welcome">
            <div class="container">
                <div class="row">
                    <h2>Welcome to Vijayalakshmi Supermarket</h2>
                    <div class="col-lg-6 welcome-left">
                        <p>Discover a wide range of daily essentials at Vijayalakshmi Supermarket. Explore our website to find the best products available in our shop.</p>
                    </div>
                    <div class="col-lg-6 welcome-right-top">
                        <img src="https://mir-s3-cdn-cf.behance.net/projects/404/1758bd178207069.Y3JvcCwzMzY3LDI2MzMsMCww.jpg" class="img-fluid" alt="Vijayalakshmi Supermarket">
                    </div>
                    <div class="welcome-left">
                        <h3>Why Named Vijayalakshmi?</h3>
                        <p>Our supermarket is named after the powerful Ashtalakshmi goddess, Vijayalakshmi, who bestows victory and prosperity.</p>
                    </div>
                    <div class="welcome-left">
                        <h3>Store Hours</h3>
                        <p>We are open every day from 9 am to 8:30 pm. Our timings may vary on holidays, ensuring your convenience.</p>
                    </div>
                    <ul>
                        <li>Redefining India's freshest and finest food experience since 1995.</li>
                        <li>Providing a brighter customer experience with a diverse selection of local and international foods.</li>
                        <li>Spreading the joy of food to our valued customers.</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
