<ngb-carousel *ngIf="images">
  <ng-template ngbSlide>
    <div class="wrapper">
      <img [src]="images[0]"[height]="900" >
    </div>
    
  </ng-template>
  <ng-template ngbSlide>
    <div class="wrapper">
      <img [src]="images[1]" height="900">
    </div>
   
  </ng-template>
  <ng-template ngbSlide>
    <div class="wrapper">
      <img [src]="images[2]" height="900">
    </div>
    
  </ng-template>
</ngb-carousel>


<div class="explore-menu-section pt-5 pb-5" id="exploreMenuSection">
<div class="container">
  <div class="row">
      <div class="col-12">
          <h2 class="menu-section-heading">Explore Products</h2>
      </div>
      <div class="col-12 col-md-6 col-lg-3 pointer" (click)="gotoLogin()">
          <div class="shadow menu-item-card p-3 mb-3">
              <img src="https://i.postimg.cc/hPg290G8/fruitsssz.jpg" class="menu-item-image w-100" />
              <h1 class="menu-card-title">Fruits</h1>
          </div>

      </div>

      <div class="col-12 col-md-6 col-lg-3 pointer" (click)="gotoLogin()">
        <div class="shadow menu-item-card p-3 mb-3">
            <img src="https://i.postimg.cc/sgLL3rDw/vegeies.jpg" class="menu-item-image w-100" />
            <h1 class="menu-card-title">Vegetables</h1>
        </div>

    </div>

    <div class="col-12 col-md-6 col-lg-3 pointer" (click)="gotoLogin()">
      <div class="shadow menu-item-card p-3 mb-3">
          <img src="https://i.postimg.cc/Jn0L4Wfn/beverages-title.jpg" class="menu-item-image w-100" />
          <h1 class="menu-card-title">Beverages</h1>
      </div>

  </div>

  <div class="col-12 col-md-6 col-lg-3 pointer" (click)="gotoLogin()">
    <div class="shadow menu-item-card p-3 mb-3">
        <img src="https://i.postimg.cc/T3sSqWFR/nuts-title.jpg" class="menu-item-image w-100" />
        <h1 class="menu-card-title">Nuts</h1>

    </div>

</div>

<div class="col-12 col-md-6 col-lg-3 pointer" (click)="gotoLogin()">
  <div class="shadow menu-item-card p-3 mb-3">
      <img src="https://i.postimg.cc/QCdmp9nh/poojai-title.jpg" class="menu-item-image w-100" />
      <h1 class="menu-card-title">pooja products</h1>
  </div>

</div>
<div class="col-12 col-md-6 col-lg-3 pointer" (click)="gotoLogin()">
<div class="shadow menu-item-card p-3 mb-3">
    <img src="https://i.postimg.cc/MKv2wvZC/personal-title.webp" class="menu-item-image w-100" />
    <h1 class="menu-card-title">Skincare Products</h1>
</div>

</div>

<div class="col-12 col-md-6 col-lg-3 pointer" (click)="gotoLogin()">
<div class="shadow menu-item-card p-3 mb-3">
  <img src="https://i.postimg.cc/Qd1R487L/ricee.jpg" class="menu-item-image w-100" />
  <h1 class="menu-card-title">Rice</h1>
</div>

</div>
<div class="col-12 col-md-6 col-lg-3 pointer" (click)="gotoLogin()">
<div class="shadow menu-item-card p-3 mb-3">
<img src="https://i.postimg.cc/c1fXP3n9/stationary-title.jpg" class="menu-item-image w-100" />
<h1 class="menu-card-title">Stationary</h1>
</div>

</div>


<div class="col-12 col-md-6 col-lg-3 pointer" (click)="gotoLogin()">
<div class="shadow menu-item-card p-3 mb-3">
<img src="https://i.postimg.cc/ZY1p2xkX/saop-product.jpg" class="menu-item-image w-100" />
<h1 class="menu-card-title">Soap</h1>
</div>

</div>
<div class="col-12 col-md-6 col-lg-3 pointer" (click)="gotoLogin()">
<div class="shadow menu-item-card p-3 mb-3">
<img src="https://i.postimg.cc/Qt1dv1ZJ/dhalll.jpg" class="menu-item-image w-100" />
<h1 class="menu-card-title">Dhal</h1>
</div>

</div>
<div class="col-12 col-md-6 col-lg-3 pointer" (click)="gotoLogin()">
<div class="shadow menu-item-card p-3 mb-3">
<img src="https://i.postimg.cc/X77WLVT1/shampoo-ima.jpg" class="menu-item-image w-100" />
<h1 class="menu-card-title">Shampoo</h1>
</div>

</div>
<div class="col-12 col-md-6 col-lg-3 pointer" (click)="gotoLogin()">
<div class="shadow menu-item-card p-3 mb-3">
<img src="https://i.postimg.cc/wvWBc063/cleeaningf.jpg" class="menu-item-image w-100" />
<h1 class="menu-card-title">Cleaning</h1>
</div>

</div>
<div class="col-12 col-md-6 col-lg-3 pointer" (click)="gotoLogin()">
<div class="shadow menu-item-card p-3 mb-3">
<img src="https://i.postimg.cc/YCyyYYgR/Best-Baby-title.jpg" class="menu-item-image w-100" />
<h1 class="menu-card-title">Baby Care</h1>
</div>

</div>
<div class="col-12 col-md-6 col-lg-3 pointer" (click)="gotoLogin()">
<div class="shadow menu-item-card p-3 mb-3">
<img src="https://i.postimg.cc/P5MTQCq7/krkureeee.jpg" class="menu-item-image w-100" />
<h1 class="menu-card-title">Snacks</h1>
</div>

</div>
<div class="col-12 col-md-6 col-lg-3 pointer" (click)="gotoLogin()">
<div class="shadow menu-item-card p-3 mb-3">
<img src="https://i.postimg.cc/fR0CXdTc/chocolatesss.jpg" class="menu-item-image w-100" />
<h1 class="menu-card-title">Chocolates</h1>
</div>

</div>


<div class="col-12 col-md-6 col-lg-3 pointer" (click)="gotoLogin()">
<div class="shadow menu-item-card p-3 mb-3">
<img src="https://i.postimg.cc/25TdYSXL/oill.jpg" class="menu-item-image w-100" />
<h1 class="menu-card-title">Oil</h1>
</div>

</div>
</div>

</div>
</div>

<div class="footer-section pt-5 pb-5">
<div class="container">
<div class="row">
    <div class="col-12 text-center">
        <img src="https://img.freepik.com/premium-vector/autumn-leave-sale-banner-design-with-discount-label-colorful-autumn-leaves-fall-season_5808-504.jpg?size=626&ext=jpg&ga=GA1.1.1868812761.1700830456&semt=ais" class="food-munch-logo" />
        <h1 class="footer-section-mail-id"></h1>
        <p class="footer-section-address">
         VIJAYALAKSHMI SUPERMARKET , S NODI STREET, KANCHIPURAM, 631502.
        </p>
    </div>
</div>
</div>
</div>